#{# j2lint: disable=jinja-statements-delimiter #} Ansible Role: {{ role }}

## Requirements

| Platform | Versions |
| -------- | -------- |
{%- for platform in metadata.galaxy_info.platforms %}
| {{ platform.name }} | {{ platform.versions | default([]) | join(', ') }} |
{%- endfor %}

## Defaults

See [defaults/main.yml](defaults/main.yml).

## Role Variables

{% for entrypoint in argument_specs.keys() %}
{%-    set path, options=entrypoint_options[entrypoint][0] -%}
### Entrypoint: {{ entrypoint }}

{{ argument_specs[entrypoint].short_description }}

|Option|Description|Type|Required|Default|
|---|---|---|---|---|
{%-    for name, details in options.items() %}
| {{ name }} | {{ details.display_description }} | {{ details.display_type }} | {{ details.display_required }} | {{ details.display_default }} |
{%-    endfor %}

{%     if entrypoint_options[entrypoint] | length > 1 -%}
{%         for path, options in entrypoint_options[entrypoint][1:] -%}
#### Options for {{ path | join(" > ") }}

|Option|Description|Type|Required|Default|
|---|---|---|---|---|
{%-            for name, details in options.items() %}
| {{ name }} | {{ details.display_description }} | {{ details.display_type }} | {{ details.display_required }} | {{ details.display_default }} |
{%-            endfor %}

{%         endfor -%}
{%     endif -%}
{%     if entrypoint in entrypoint_choices -%}
{%         for path, choices in entrypoint_choices[entrypoint] -%}
#### Choices for {{ path | join(" > ") }}

|Choice|
|---|
{%-            for item in choices %}
| {{ item }} |
{%-            endfor -%}
{%-        endfor -%}
{%-    endif -%}
{%- endfor -%}
