# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects WP-CLI Ansible role.
#
# The Webarchitects WP-CLI Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects WP-CLI Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects WP-CLI Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Verify WP-CLI variables
  block:

    - name: Debug wpclivarnames
      ansible.builtin.debug:
        var: wpclivarnames
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug wpclihostvars
      ansible.builtin.debug:
        var: wpclihostvars
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/argument_specs.yml
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/argument_specs.yml', errors='strict') }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/argument_specs.yml type
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/argument_specs.yml', errors='strict') | ansible.builtin.type_debug }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/internal_argument_specs.yml
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml', errors='strict') }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/internal_argument_specs.yml type
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml', errors='strict') | ansible.builtin.type_debug }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Set a fact for the argument spec and internal argument spec
      ansible.builtin.set_fact:
        wpcli_argument_spec: "{{ wpcli_argument_spec_lookup | ansible.builtin.from_yaml }}"
        wpcli_internal_argument_spec: "{{ wpcli_internal_argument_spec_lookup | ansible.builtin.from_yaml }}"
      vars:
        wpcli_argument_spec_lookup: "{{ lookup('ansible.builtin.file', 'meta/argument_specs.yml', errors='strict') }}"
        wpcli_internal_argument_spec_lookup: "{{ lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml', errors='strict') }}"

    - name: Set a fact for the combined argument spec and internal argument spec
      ansible.builtin.set_fact:
        wpcli_combined_argument_spec: "{{ wpcli_argument_spec | ansible.builtin.combine(wpcli_internal_argument_spec, recursive=true) }}"

    - name: Check wpcli_ variables using the combined argument spec
      ansible.builtin.validate_argument_spec:
        argument_spec: "{{ wpcli_combined_argument_spec['argument_specs']['main']['options'] }}"
        provided_arguments: "{{ wpclihostvars }}"

  when: wpcli_verify | bool
  tags:
    - wpcli
...
